body {
  background-image: url("53117853_p0.jpg");

  height: auto;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 color: #FFFFFF;
}

h1 {
 color: #FFFF33;
 text-align: center;
 font: italic 200% fantasy;
}

.csmain {
	margin-left: auto;
    margin-right: auto;
}

table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 60%;
      border: 1px solid #ddd;
      margin-left: auto;
      margin-right: auto;
   }
   th, td {
      font-weight: bold;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 18px;
      text-align: left;
      padding: 16px;
   }
   tr:nth-child(odd) {
      background-color: Tomato;
      color: white;
   }
    tr:nth-child(1) {
      background-color: #FFFFFF;
      color: black;
   }
   tr:nth-child(even) {
      background-color: DodgerBlue;
      color: white;
   }

img {
  border-radius: 50%;
  padding: 5px;
  width: 150px;
}

h2{
 color: #00FF00;
 text-align: center;
 font: Arial;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}


ul {
text-align: center;
list-style-position: inside;
}

li{
	color:Black;
}

h2.h2new{
	color:Black;
	display:inline;
}

div{
    align:center;
	width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.shadowbox {
   margin:auto;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

p {
 color: #333300;
 text-align: center;
}