
body{
	background-color: #361A59;
}

input[type="radio"]:before{
    width: 12px;
    height: 12px;
    box-shadow:inset 1px 1px 4px #000;
    border-radius: 10px; 
    border:0;
    background-color: #d1d3d1;
    content: ' ';
    display: block;
    opacity:0.5;
}

.rad{
	padding-left: 55px;
}
  
.buying{
  	margin:0 auto;
  	width: 60%;
  	border: 8px solid gold;
  	background-color: white;
  	margin-top: 2%;
}

.buying > h1{
  	text-align:center;
  	font-family: sans-serif;
  	margin-top: 5%;
}
.buying > h2{
  	text-align:center;
  	font-family: sans-serif;
  	margin-top: 2%;
}
.buying > p{
  	margin-left: 8px;
  	margin-right: 8px;
}
.buying > hr{
  	width: 80%;
  	background-color: gold;
  	height: 1px;
}
.buying > dd,dt{
   margin-left: 8px;
   font-weight: bold;
}
  
label.mylabel{
  	margin-left: 8px;
}

input[type='text']{
    border:0;
    box-shadow: inset 1.5px 1.5px 1px #000;
    background-color: #d1d3d1;
    margin-left: 50px;
    width: 150px;
    height:18px;
}

select{
    border:0;
    box-shadow: inset 1.5px 1.5px 1px #000;
    background-color: #d1d3d1;
    margin-left: 50px;
    width: 140px;
    height:22px;      
}

input[type='submit']{
    border:0;
    box-shadow: 1.5px 1.5px 5px #000;
    background-color: #d1d3d1;
    font-size: 2em;
    width: 97%;
    margin-left: 1.5%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
}

div.suclist {
  margin-left:8px;
  font-family: "Garamond";
  font-size: 16px;
}


